.filter__sort {
    display: flex;
    background-color: #1E1E22;
    border: #2C2C31 1px solid;
    border-radius: 20px;
    color: #A3A3AB;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.filter__sort-reset {
    color: #B3B3B3;
    text-decoration: underline;
    cursor: pointer;
}

.filter__sort-instock {
    display: flex;
    gap: 25px;
}

.filter__sort-price {
    background-color: #1A1A1E;
    border: 1px solid #2C2C31;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
}

.filter__sort-allswitch {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter__sort-switcher {
    border: solid 2px #FFFFFF;
    border-radius: 30px;
    display: flex;
}

.filter__sort-div-switcher {
    width: 50px;
    height: 25px;
}

.filter__sort-div-circle {
    width: 25px;
    height: 25px;
    background-color: #FFFFFF;
    border-radius: 100px;
    transition: transform 0.25s ease, background-color 0.3s ease;
}

.filter__sort-div-switcher:hover {
    cursor: pointer;
}

.filter__sort-isInStock {
    display: flex;
    align-items: center;
    gap: 25px;
}

// products
.products__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 55px;
    column-gap: 25px;
    position: relative;
}

.products .container {
    padding-bottom: 140px;
}

.products__cards-item {
    max-width: 300px;
    height: 100%;
    background-color: #1E1E22;
    color: #FFFFFF;
    border: solid 1px #2C2C31;
    width: 100%;
    border-radius: 20px;
    transition: 
    box-shadow 0.3s cubic-bezier(.17,.68,.26,.76),
    transform 0.3s cubic-bezier(.17,.68,.26,.76)

}

.products__cards-item:hover {
    border: #FF330E solid 1px;
    box-shadow: 0px 9px 50px 5px #ff320e5b;
    transform: scale(1.03);
    cursor: pointer;
}

.products__cards-item:active {
    transform: scale(0.98);
}

.products__cards-item div {
    display: flex;
    flex-direction: column;
    padding: 15px 26px 35px 26px;
}

.products__cards-item span, p {
    font-size: 20px;
}

.products__cards-item p {
    padding-bottom: 20px;
    font-weight: 600;
}

.products__cards-item span {
    padding-bottom: 20px;
    font-weight: 700;
}

.products__cards-item h3 {
    font-size: 14px;
    font-weight: 400;
    color: #5F5F61;
    padding-bottom: 20px;
}

.products__cards-item img {
    width: 100%;
    max-width: 300px;
    max-height: 265px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.item__button {
    background-color: inherit;
    color: #FFFFFF;
    border: #2C2C31 solid 1px;
    padding: 15px 0px;
    border-radius: 10px;
    transition: 
        color 0.3s ease,
        border-color 0.3s ease,
        box-shadow 0.3s ease
    ;
}

.item__button:hover {
    border: #FF330E solid 1px;
    color: #FF330E;
    cursor: pointer;
    box-shadow: 0px 9px 50px 5px #ff320e8d;
}



.item__button:active {
    transform: scale(0.95);
}

// other shi

.filter__title {
    font-size: 48px;
    font-weight: 400;
    color: #FFFFFF;
    padding-bottom: 10px;
    padding-top: 175px;
}

.filter__subtitle {
    font-size: 18px;
    font-weight: 400;
    color: #A3A3AB;
    padding-bottom: 40px;
}

.filter__mains-item {
    background-color: inherit;
    border-radius: 20px;
    border: solid 1px #2C2C31;
    color: #A3A3AB;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 25px;
    transition:
        color 0.25s ease,
        background-color 0.25s ease
    ;
}

.filter__mains-item:hover {
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
}

.filter__mains {
    padding-bottom: 55px;
}